body{
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
}
/* Common styles */
.common-btn{
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid #565656;
    border-radius: 8px;
}
/* Navbar styles */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{ 
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav div{   
  display: inline;
}
nav ul li{
    display: inline;
    font-size: 18px;
    padding: 0 0 0 40px;
}
nav ul li a {
    text-decoration: none;
}
nav .search-nav{
    display: flex;
    align-items: center;
}
nav ul li input{
    width: 300px;
    height: 30px;
    background-color: #F0F0F0;
    border: none;
    border-radius: 8px;
}
nav .profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Invitation styles */
.invitation{
    background-color: #F9FAFF;
    padding: 15px 0;
    text-align: center;
}

/* Banner styles */
.banner{
    display: flex;
    width: 100%;
}
.banner .banner-left{
    min-width: 50vw;
    background-image: url('../images/banner-left.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
.banner .banner-right{
    min-width: 49vw;
    background-image: url('../images/banner-right.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
.banner .banner-right .banner-right-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.banner .banner-right h1{
    font-size: 35px;
    color: #565656;
}
.big-fashion{
    margin-bottom: 0;
}
/* Trending styles */
.trending{
    padding: 0 50px;
    margin: 50px 0;
}
/* Deals styles */
.deals{
    padding: 0 50px;
    margin: 50px 0;
}
/* Forever styles */
.forever{
    min-height: 100vh;
    background-image: url('../images/forever21.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.forever h1{
    font-size: 88px;
    margin-bottom: 20px;
}
.forever h2{
    font-size: 48px;
    margin: 0;
}
.forever h3{
    font-size: 42px;
}
.forever-btn{
    color: white;
    border-color: white;
}
/* Categories styles */
.categories{
    padding: 0 50px;
    margin: 50px 0;
}
.shop-categories{
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.categories-content{
    padding: 20px 20px;
    color: white;
}
.categories-content h3{
    margin: 0;
}
.categories-content p{
    margin: 0;
}
.women-pant{
    height: 670px;
    background-image: url('../images/categories1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px; 
    grid-row-start: 1;
   grid-column-start: 1;
   grid-row-end: 3;
   grid-column-end: 3;
}
.men-jacket{
    background-image: url('../images/categories2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px; 
    grid-row-start: 1;
   grid-column-start: 3;
   grid-row-end: 2;
   grid-column-end: 5; 
}
.sweater{
    background-image: url('../images/categories3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 5;
}
.women-tops{
    background-image: url('../images/categories4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 2;
    grid-column-end: 7;
}
.pants{
    background-image: url('../images/categories5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    grid-row-start: 2;
    grid-column-start: 5;
    grid-row-end: 3;
    grid-column-end: 6;
}
.women-jacket{
    background-image: url('../images/categories6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    grid-row-start: 2;
    grid-column-start: 6;
    grid-row-end: 3;
    grid-column-end: 7;
}
/* Review styles */
.reviews{
    padding: 0 50px;
    margin: 50px 0;
}
/* Footer styles */
.footer{
    background-color: #00071B;
}
.footer-logo{
    display: flex;
    padding-left: 50px;
    align-items: center;
}
.footer-logo img{
    width: 76px;
    height: 64px;
}
.footer-logo h1{
    color: white;
    padding-left: 15px;
    font-size: 70px;
    margin: 20px 0;
}
.footer-nav{
    color: white;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 350px;
}
.footer-nav ul{
    list-style-type: none;
}
.footer-nav ul .footer-nav-header{
    font-weight: bold;
    font-size: 18px;
}
.footer-nav input{
    width: 80%;
    background-color: transparent;
    border: 1px solid white;
    padding: 5px;
}
.footer .ruler{
    color: white;
    padding: 30px 0;
}
.social{
    display: flex;
    color: white;
    justify-content: space-evenly;
    padding-bottom: 30px;
}
.social img{
    padding: 0 10px;
}